<!-- STATES INDEX PAGE -->
<!-- SHOWS ALL STATES OF COUNTRY -->
<div class="container push_page_below_header">
  <div class="row">
  <h1>National Report</h1>

    <div id="stock-report-table">
      <table class="report-table">
        <h3> Stocks </h3>
        <col span="1" class="wide">

        <tr>
          <th>State</th>
          <th>Vitamin A Red</th>
          <th>Vitamin A Blue</th>
          <th>Deworming</th>
          <th>Iron Folate</th>
        </tr>
        <% @states.each do |state| %>
        <tr>
          <th><%= link_to state.state_name, [state]  %> </th>
          <%# TRICK above to enter only ID as 2nd element and Rails guesses path %>
            <td><%= state.stock_reports_total(:vitamin_a_red) %></td>
            <td><%= state.stock_reports_total(:vitamin_a_blue) %></td>
            <td><%= state.stock_reports_total(:deworming) %></td>
            <td><%= state.stock_reports_total(:iron_folate) %></td>
        </tr>
        <% end %>
        <tr>
          <th>National Total</th>
          <td><%= StockReport.sum(:vitamin_a_red) %></td>
          <td><%= StockReport.sum(:vitamin_a_blue) %></td>
          <td><%= StockReport.sum(:deworming) %></td>
          <td><%= StockReport.sum(:iron_folate) %></td>
        </tr>
      </table>
    </div>



    <div id='program-report-table'>
      <table class='report-table'>
        <h3> Program </h3>
        <col span="1" class="wide">
        <tr>
          <th>State Program</th>
          <th>Vitamin A Red</th>
          <th>Vitamin A Blue</th>
          <th>Deworming</th>
          <th>Iron Folate</th>
        </tr>
        <% @states.each do |state| %>
        <tr>
          <th><%= link_to state.state_name, [state]  %> </th>
          <%# TRICK above to enter only ID as 2nd element and Rails guesses path %>
            <td><%= state.program_reports_total(:vitamin_a_red) %></td>
            <td><%= state.program_reports_total(:vitamin_a_blue) %></td>
            <td><%= state.program_reports_total(:deworming) %></td>
            <td><%= state.program_reports_total(:iron_folate) %></td>
        </tr>
        <% end %>
        <tr>
          <th>National Total</th>
          <td><%= ProgramReport.sum(:vitamin_a_red) %></td>
          <td><%= ProgramReport.sum(:vitamin_a_blue) %></td>
          <td><%= ProgramReport.sum(:deworming) %></td>
          <td><%= ProgramReport.sum(:iron_folate) %></td>
        </tr>
      </table>
    </div>

    <div class='population-report-table'>
      <table class='report-table'>
        <h3> Population </h3>
        <col span="1" class="wide">
        <tr>
          <th>State</th>
          <th>Children</th>
          <th>Women</th>
          <th>Total population</th>
        </tr>
        <% @states.each do |state| %>
        <tr>
          <th><%= link_to state.state_name, [state]  %> </th>
          <%# TRICK above to enter only ID as 2nd element and Rails guesses path %>
            <td><%= state.population_reports_total(:child_population) %></td>
            <td><%= state.population_reports_total(:woman_population) %></td>
            <td><%= state.population_reports_total(:total_population) %></td>
        </tr>
        <% end %>
        <tr>
          <th>National Total</th>
          <td><%= PopulationReport.sum(:child_population) %></td>
          <td><%= PopulationReport.sum(:woman_population) %></td>
          <td><%= PopulationReport.sum(:total_population) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

// <script>

//   $(document).ready(function(){
//     $('#stock-activate').click(function(){
//       $('#stock-report-table').show();
//       $('#program-report-table').hide();
//       $('.population-report-table').hide();
//     });

//     $('#program-activate').click(function(){
//       $('#stock-report-table').hide();
//       $('#program-report-table').show();
//       $('.population-report-table').hide();
//     });

//     $('#pop-activate').click(function(){
//       $('#stock-report-table').hide();
//       $('#program-report-table').hide();
//       $('.population-report-table').show();
//     });
//   });

// </script>

<!-- Create responsive tables by wrapping any .table in .table-responsive to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.
 -->





























