<!-- STATES INDEX PAGE -->
<!-- SHOWS ALL STATES OF COUNTRY -->
<div class="container push_page_below_header">
  <div class="row">

  <div class="table">
    <table id='stock-report-table'>
      <h3> National Stock Report </h3>
      <col span="1" class="wide">
      <tr>
        <th>State</th>
        <th>Vitamin A Red</th>
        <th>Vitamin A Blue</th>
        <th>Deworming</th>
        <th>Iron Folate</th>
      </tr>
      <% @states.each do |state| %>
      <tr>
        <th><%= link_to state.state_name, [state]  %> </th>
        <%# TRICK above to enter only ID as 2nd element and Rails guesses path %>
          <td><%= state.stock_reports_total(:vitamin_a_red) %></td>
          <td><%= state.stock_reports_total(:vitamin_a_blue) %></td>
          <td><%= state.stock_reports_total(:deworming) %></td>
          <td><%= state.stock_reports_total(:iron_folate) %></td>
      </tr>
      <% end %>
      <tr>
        <th>National Total</th>
        <th><%= StockReport.sum(:vitamin_a_red) %></th>
        <th><%= StockReport.sum(:vitamin_a_blue) %></th>
        <th><%= StockReport.sum(:deworming) %></th>
        <th><%= StockReport.sum(:iron_folate) %></th>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div class="table">

    <table id='program-report-table'>
      <h3> National Program Report </h3>
      <col span="1" class="wide">
      <tr>
        <th>State Program</th>
        <th>Vitamin A Red</th>
        <th>Vitamin A Blue</th>
        <th>Deworming</th>
        <th>Iron Folate</th>
      </tr>
      <% @states.each do |state| %>
      <tr>
        <th><%= link_to state.state_name, [state]  %> </th>
        <%# TRICK above to enter only ID as 2nd element and Rails guesses path %>
          <td><%= state.program_reports_total(:vitamin_a_red) %></td>
          <td><%= state.program_reports_total(:vitamin_a_blue) %></td>
          <td><%= state.program_reports_total(:deworming) %></td>
          <td><%= state.program_reports_total(:iron_folate) %></td>
      </tr>
      <% end %>
      <tr>
        <th>National Total</th>
        <th><%= ProgramReport.sum(:vitamin_a_red) %></th>
        <th><%= ProgramReport.sum(:vitamin_a_blue) %></th>
        <th><%= ProgramReport.sum(:deworming) %></th>
        <th><%= ProgramReport.sum(:iron_folate) %></th>
      </tr>
    </table>
    <br>
    <br>
    <br>
  </div>

  <div class="table">

    <table id='population-report-table'>
      <h3> National Population Report </h3>
      <col span="1" class="wide">
      <tr>
        <th>State</th>
        <th>Children</th>
        <th>Women</th>
        <th>Total population</th>
      </tr>
      <% @states.each do |state| %>
      <tr>
        <th><%= link_to state.state_name, [state]  %> </th>
        <%# TRICK above to enter only ID as 2nd element and Rails guesses path %>
          <td><%= state.population_reports_total(:child_population) %></td>
          <td><%= state.population_reports_total(:woman_population) %></td>
          <td><%= state.population_reports_total(:total_population) %></td>
      </tr>
      <% end %>
      <tr>
        <th>National Total</th>
        <th><%= PopulationReport.sum(:child_population) %></th>
        <th><%= PopulationReport.sum(:woman_population) %></th>
        <th><%= PopulationReport.sum(:total_population) %></th>
      </tr>
    </table>
  </div>
</div>

<script>

  $(document).ready(function(){
    $('#stock-activate').click(function(){

      $('#stock-report-table').show();
      $('#program-report-table').hide();
      $('#population-report-table').hide();
    });

    $('#program-activate').click(function(){
      $('#stock-report-table').hide();
      $('#program-report-table').show();
      $('#population-report-table').hide();
    });

    $('#pop-activate').click(function(){
      $('#stock-report-table').hide();
      $('#program-report-table').hide();
      $('#population-report-table').show();
    });
  });

</script>
































