<!-- States#show -->

<div class="container push_page_below_header">
  <div class="row">
    <h1>State name <%= @state.state_name %> </h1>

    <h2>Districts</h2>

  <table>
    <% @state.districts.each do |district| %>
      <tr>
        <td><%= link_to(district.district_name, state_districts_path(district)) %> </td>
        <td><%= 'Population Report' %></td>
        <td><%= 'Stock Report'  %></td>
        <td><%= 'Program Report' %></td>
      </tr>
    <% end %>
  </div>
</div>


<!-- <td><%= link_to (district.district_name, district_path(district) %> </td> -->
<!-- <td><%= link_to 'Population Report', district_population_report_path(district) %></td> -->
<!-- <td><%= link_to 'Stock Report', district_stock_report_path(district) %></td> -->
<!-- <td><%= link_to 'Program Report', district_program_report_path(district) %></td> -->
