<!-- States#show -->

<div class="container push_page_below_header">
  <div class="row">

    <div id="report-buttons">
    <!-- should make in partial to add to index and show pages -->
      <ul class="navbar-buttons list-inline" style="margin-top: 10px" >
        <li>
           <button id='stock-activate' class="btn btn-info">Stocks</button>
        </li>
        <li>
          <button id='program-activate' class="btn btn-info">Program</button>
        </li>
        <li>
          <button id='pop-activate' class="btn btn-info">Population</button>
        </li>
      </ul>
    </div>

    <h1><%= @state.state_name %> Province Report</h1>


    <div id="stock-report-table">
      <table class="report-table">
      <h3> State Stock Report </h3>
      <col span="1" class="wide">
        <tr>
          <th>District</th>
          <th>Vitamin A Red (Units)</th>
          <th>Vitamin A Blue (Units)</th>
          <th>Deworming (Units)</th>
          <th>Iron Folate (Units)</th>
        </tr>

        <% @state.districts.each do |district| %>
        <tr>
          <th><%= link_to district.district_name, [@state, district] %> </th>
            <td><%= district.stock_reports_total(:vitamin_a_red) %></td>
            <td><%= district.stock_reports_total(:vitamin_a_blue) %></td>
            <td><%= district.stock_reports_total(:deworming) %></td>
            <td><%= district.stock_reports_total(:iron_folate) %></td>
        </tr>
        <% end %>
        <tr>
          <th>District Total </th>
          <td><%= @state.stock_reports_total(:vitamin_a_red) %></td>
          <td><%= @state.stock_reports_total(:vitamin_a_blue) %></td>
          <td><%= @state.stock_reports_total(:deworming) %></td>
          <td><%= @state.stock_reports_total(:iron_folate) %></td>
        </tr>
      </table>

    </div>

    <div class="table">
      <table id='program-report-table'>
      <h3> State Program Report </h3>
      <col span="1" class="wide">
        <tr>
          <th>District</th>
          <th>Vitamin A Red (Delivered)</th>
          <th>Vitamin A Blue (Delivered)</th>
          <th>Deworming (Delivered)</th>
          <th>Iron Folate (Delivered)</th>
        </tr>
        <% @state.districts.each do |district| %>
        <tr>
          <th><%= link_to district.district_name, [@state, district] %> </th>
            <td><%= district.program_reports_total(:vitamin_a_red) %></td>
            <td><%= district.program_reports_total(:vitamin_a_blue) %></td>
            <td><%= district.program_reports_total(:deworming) %></td>
            <td><%= district.program_reports_total(:iron_folate) %></td>
        </tr>
        <% end %>
        <tr>
          <th>District Total </th>
          <th><%= @state.program_reports_total(:vitamin_a_red) %></th>
          <th><%= @state.program_reports_total(:vitamin_a_blue) %></th>
          <th><%= @state.program_reports_total(:deworming) %></th>
          <th><%= @state.program_reports_total(:iron_folate) %></th>
        </tr>
      </table>

      <br>
    </div>

    <div class="table">
      <table id='population-report-table'>
      <h3> State Population Report </h3>
      <col span="1" class="wide">
        <tr>
          <th>District</th>
          <th>Children (0-59 months)</th>
          <th>Women (15-49 years)</th>
          <th>Total population</th>
        </tr>
        <% @state.districts.each do |district| %>
        <tr>
          <th><%= link_to district.district_name, [@state, district] %> </th>
            <td><%= district.population_reports_total(:child_population) %></td>
            <td><%= district.population_reports_total(:woman_population) %></td>
            <td><%= district.population_reports_total(:total_population) %></td>
        </tr>
        <% end %>
        <tr>
          <th>District Total </th>
          <th><%= @state.population_reports_total(:child_population) %></td>
          <th><%= @state.population_reports_total(:woman_population) %></td>
          <th><%= @state.population_reports_total(:total_population) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

 <script>

   $(document).ready(function(){
     $('#stock-activate').click(function(){
       $('#stock-report-table').show();
       $('#program-report-table').hide();
       $('#population-report-table').hide();
     });

     $('#program-activate').click(function(){
       $('#stock-report-table').hide();
       $('#program-report-table').show();
       $('#population-report-table').hide();
     });

     $('#pop-activate').click(function(){
       $('#stock-report-table').hide();
       $('#program-report-table').hide();
       $('#population-report-table').show();
     });
   });

 </script>
