<!-- States#show -->

<div class="container push_page_below_header">
  <div class="row">
    <h1>Province <%= @state.state_name %> </h1>

    <h2>Districts</h2>

  <div class="table">

      <% @state.districts.each do |district| %>
        <ul class='container table'>
          <li><%= link_to district.district_name, [@state, district] %> </li>
          <!-- Rails here automatically understands that two params leads to appropriate path -->
          <li><%= 'Population Report' %></li>
          <li><%= 'Stock Report'  %></li>
          <li><%= 'Program Report' %></li>
        </ul>
      <% end %>

  </div>
</div>

<!-- span - causes all elements to be in one line -->
<!-- table - causes all elements forced to left no space -->
<!-- ul / li - puts all elements in same column -->

<!-- http://www.kaizou.org/2013/02/different-ways-of-arranging/ -->



