<!-- Districts#index -->

<div class="container push_page_below_header">
  <div class="row">
    <h1>District <%= @district.district_name %> </h1>

    <h2>Sites</h2>

  <table>
    <% @district.site.each do |site| %>
      <tr>
        <td><%= link_to(site.site_name, districts_site_path(site)) %> </td>
        <td><%= 'Population Report PATH' %></td>
        <td><%= 'Stock Report PATH'  %></td>
        <td><%= 'Program Report PATH' %></td>
      </tr>
    <% end %>
  </div>
</div>

