<!-- Districts#show -->

<div class="container push_page_below_header">
  <div class="row">
    <h1>District <%= @district.district_name %> </h1>

    <h2>Sites</h2>

  <div class="table">

      <% @district.sites.each do |site| %>
        <ul class='container table'>
          <li><%= link_to site.site_name, [@district, site] %> </li>
          <li><%= 'Population Report' %></li>
          <li><%= 'Stock Report'  %></li>
          <li><%= 'Program Report' %></li>
        </ul>
      <% end %>

  </div>
</div>
