<!-- Districts#show -->

<div class="container push_page_below_header">
  <div class="row">
    <div id="report-buttons">
    <!-- should make in partial to add to index and show pages -->
      <ul class="navbar-buttons list-inline" style="margin-top: 10px" >
        <li>
           <button id='stock-activate' class="btn btn-info">Stocks</button>
        </li>
        <li>
          <button id='program-activate' class="btn btn-info">Program</button>
        </li>
        <li>
          <button id='pop-activate' class="btn btn-info">Population</button>
        </li>
      </ul>
    </div>

    <h1><%= @district.district_name%> District Report</h1>

    <div id="stock-report-table">
      <table class="report-table">
      <h3>Stocks</h3>
        <col span="1" class="wide">
        <tr>
          <th>Site</th>
          <th>Vitamin A Red (Units)</th>
          <th>Vitamin A Blue (Units)</th>
          <th>Deworming (Units) </th>
          <th>Iron Folate (Units) </th>
        </tr>
      <% @district.sites.each do |site| %>
        <tr>
          <th><%= link_to site.site_name, [site] %></th>
          <td><%= site.most_recent_stock_report.vitamin_a_red %></td>
          <td><%= site.most_recent_stock_report.vitamin_a_blue %></td>
          <td><%= site.most_recent_stock_report.deworming %></td>
          <td><%= site.most_recent_stock_report.iron_folate %></td>
        </tr>
      <% end %>
        <tr>
          <th>District Total </th>
          <td><%= @district.stock_reports_total(:vitamin_a_red) %></td>
          <td><%= @district.stock_reports_total(:vitamin_a_blue) %></td>
          <td><%= @district.stock_reports_total(:deworming) %></td>
          <td><%= @district.stock_reports_total(:iron_folate) %></td>
        </tr>
      </table>
    </div>

    <div id='program-report-table'>
      <table class='report-table'>
      <h3>Program</h3>
        <col span="1" class="wide">
        <tr>
          <th>Site</th>
          <th>Vitamin A Red (Delivered)</th>
          <th>Vitamin A Blue (Delivered)</th>
          <th>Deworming (Delivered)</th>
          <th>Iron Folate (Delivered)</th>
        </tr>
      <% @district.sites.each do |site| %>
        <tr >
            <th><%= link_to site.site_name, [site] %></th>
            <td><%= site.program_reports_total(:vitamin_a_red) %></td>
            <td><%= site.program_reports_total(:vitamin_a_blue) %></td>
            <td><%= site.program_reports_total(:deworming) %></td>
            <td><%= site.program_reports_total(:iron_folate) %></td>
        </tr>
      <% end %>
        <tr>
          <th>District Total </th>
          <td><%= @district.program_reports_total(:vitamin_a_red) %></td>
          <td><%= @district.program_reports_total(:vitamin_a_blue) %></td>
          <td><%= @district.program_reports_total(:deworming) %></td>
          <td><%= @district.program_reports_total(:iron_folate) %></td>
        </tr>
      </table>
    </div>

    <div id='population-report-table'>
      <table class='report-table'>
      <h3>Population</h3>
        <col span="1" class="wide">
        <tr>
          <th>Site</th>
          <th>Child Population</th>
          <th>Child % of Total Population </th>
          <th>Woman Population</th>
          <th>Woman % of Total Population</th>
          <th>Total Population</th>
        </tr>
      <% @district.sites.each do |site| %>
        <tr>
          <th><%= link_to site.site_name, [site] %></th>
          <td><%= site.most_recent_population_report.child_population %></td>
          <td><%= site.percent_population(:child_population) %></td>
          <td><%= site.most_recent_population_report.woman_population %></td>
          <td><%= site.percent_population(:woman_population) %></td>
          <td><%= site.most_recent_population_report.total_population %></td>
        </tr>
      <% end %>
        <tr>
          <th>District Total </th>
          <td> <%= @district.population_reports_total(:child_population) %></td>
          <td> <%= @district.percent_child_pop %> </td>
          <td> <%= @district.population_reports_total(:woman_population) %></td>
          <td> <%= @district.percent_woman_pop %> </td>
          <td><%= @district.population_reports_total(:total_population) %></td>
        </tr>
      </table>
<!--     </div>

    <div id='population-report-table'> -->
      <table class='report-table'>
      <h3>Target Population</h3>
        <col span="1" class="wide">
        <tr>
          <th></th>
            <th>Vitamin A Red Target</th>
            <th>Vitamin A Blue and Deworming Target</th>
            <th>Iron Supplementation</th>
        </tr>
        <tr>
          <th>Site</th>
            <td>Child Population (6-11 months)</td>
            <td>Child Population (12-59 months)</td>
            <td>Pregnant Women</td>
        </tr>
      <% @district.sites.each do |site| %>
        <tr>
          <th><%= link_to site.site_name, [site] %></th>
            <td><%= site.six_to_11_target_pop %></td>
            <td><%= site.twelve_to_59_target_pop %></td>
            <td><%= site.pregnant_woman_target_pop %></td>
        </tr>
      <% end %>
        <tr>
          <th>District Total </th>
          <td> <%= @district.vit_a_red_target_total %> </td>
          <td> <%= @district.vit_a_blue_target_total %> </td>
          <td> <%= @district.iron_folate_target_total %> </td>
        </tr>
      </table>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>

 <script>
 // should refactor to put in partial //

   $(document).ready(function(){
     $('#stock-activate').click(function(){
       $('#stock-report-table').show();
       $('#program-report-table').hide();
       $('#population-report-table').hide();
     });

     $('#program-activate').click(function(){
       $('#stock-report-table').hide();
       $('#program-report-table').show();
       $('#population-report-table').hide();
     });

     $('#pop-activate').click(function(){
       $('#stock-report-table').hide();
       $('#program-report-table').hide();
       $('#population-report-table').show();
     });
   });

 </script>


