<!-- Districts#show -->

<div class="container push_page_below_header">
  <div class="row">
    <h1>District <%= @district.district_name %> </h1>

    <h1><%= @district.district_name%> District Report</h1>

    <h2>Sites</h2>
    <div class="table">

      <table >
        <tr>
          <th>Site</th>
          <th>Vitamin A Red</th>
          <th>Vitamin A Blue</th>
          <th>Deworming</th>
          <th>Iron Folate</th>
          <th>District Total</th>
        </tr>
      <% @district.sites.each do |site| %>
        <tr>
            <td><%= site.site_name %></td>
            <td><%= site.most_recent_stock_report %></td>
            <td><%= site.most_recent_stock_report %></td>
            <td><%= site.most_recent_stock_report %></td>
            <td><%= site.most_recent_stock_report %></td>
        </tr>
      <% end %>

        <tr>
          <th><%= StockReport.where(site_id:site.id).sum(:vitamin_a_red) %></th>
          <th><%= StockReport.where(site_id:site.id).sum(:vitamin_a_blue) %></th>
          <th><%= StockReport.where(site_id:site.id).sum(:deworming) %></th>
          <th><%= StockReport.where(site_id:site.id).sum(:iron_folate) %></th>
        </tr>

      </table>

    </div>
  </div>
</div>
