<!-- Districts#show -->

<div class="container push_page_below_header">
  <div class="row">
    <h1><%= @district.district_name%> District Report</h1>

    <div class="table">
      <table id='stock-report-table'>
      <h3> District Stock Report </h3>
        <col span="1" class="wide">
        <tr>
          <th>Site</th>
          <th>Vitamin A Red</th>
          <th>Vitamin A Blue</th>
          <th>Deworming</th>
          <th>Iron Folate</th>
        </tr>
      <% @district.sites.each do |site| %>
        <tr>
            <td><%= link_to site.site_name, [site] %></td>
            <td><%= site.most_recent_stock_report.vitamin_a_red %></td>
            <td><%= site.most_recent_stock_report.vitamin_a_blue %></td>
            <td><%= site.most_recent_stock_report.deworming %></td>
            <td><%= site.most_recent_stock_report.iron_folate %></td>
        </tr>
      <% end %>
        <tr>
          <th>District Total </th>
          <th><%= @district.stock_reports_total(:vitamin_a_red) %></th>
          <th><%= @district.stock_reports_total(:vitamin_a_blue) %></th>
          <th><%= @district.stock_reports_total(:deworming) %></th>
          <th><%= @district.stock_reports_total(:iron_folate) %></th>
        </tr>
      </table>
      <br>
      <br>
      <br>
    </div>

    <div class="table">
      <table id='program-report-table'>
      <h3> District Program Report </h3>
        <col span="1" class="wide">
        <tr>
          <th>Site</th>
          <th>Vitamin A Red</th>
          <th>Vitamin A Blue</th>
          <th>Deworming</th>
          <th>Iron Folate</th>
        </tr>
      <% @district.sites.each do |site| %>
        <tr>
            <td><%= link_to site.site_name, [site] %></td>
            <td><%= site.program_reports_total(:vitamin_a_red) %></td>
            <td><%= site.program_reports_total(:vitamin_a_blue) %></td>
            <td><%= site.program_reports_total(:deworming) %></td>
            <td><%= site.program_reports_total(:iron_folate) %></td>
        </tr>
      <% end %>
        <tr>
          <th>District Total </th>
          <th><%= @district.program_reports_total(:vitamin_a_red) %></th>
          <th><%= @district.program_reports_total(:vitamin_a_blue) %></th>
          <th><%= @district.program_reports_total(:deworming) %></th>
          <th><%= @district.program_reports_total(:iron_folate) %></th>
        </tr>
      </table>
      <br>
      <br>
      <br>
    </div>

    <div class="table">
      <table id='population-report-table'>
      <h3> District Population Report </h3>
        <col span="1" class="wide">
        <tr>
          <th>Site</th>
          <th>Vitamin A Red</th>
          <th>Vitamin A Blue</th>
          <th>Deworming</th>

        </tr>
      <% @district.sites.each do |site| %>
        <tr>
            <td><%= link_to site.site_name, [site] %></td>
            <td><%= site.most_recent_population_report.child_population %></td>
            <td><%= site.most_recent_population_report.woman_population %></td>
            <td><%= site.most_recent_population_report.total_population %></td>

        </tr>
      <% end %>
        <tr>
          <th>District Total </th>
          <th><%= @district.population_reports_total(:child_population) %></th>
          <th><%= @district.population_reports_total(:woman_population) %></th>
          <th><%= @district.population_reports_total(:total_population) %></th>

        </tr>
      </table>
      <br>
      <br>
      <br>
    </div>

  </div>
</div>

