<!-- Site Show -->

<div class="container push_page_below_header">
  <div class="row">
    <h2> Site: <%= @site.site_name %></h2>
    <h4>Complete Stock Reporting</h4>
    <div id='stock-report-table'>
      <table class='report-table'>
      <col span="1" class="wide">
         <tr>
            <th>Date</th>
            <th>Vitamin A Red (Reports)</th>
            <th>Vitamin A Blue (Reports)</th>
            <th>Deworming (Reports) </th>
            <th>Iron Folate (Reports) </th>
          </tr>
        <tbody>
          <% @stock_reports_per_day.each do |date, complete| %>
            <tr>
              <th><%= date.strftime("%d/%m/%Y") %></th>
              <td>
                <!-- If users prefer this presentation, this should be refactored into model -->
                <% if complete[:vitamin_a_red] == 100 then %>
                <%="Yes"%>
                <% else %>
                <%="No"%>
                <% end %>
              </td>
              <td>
                <% if complete[:vitamin_a_blue] == 100 then %>
                <%="Yes"%>
                <% else %>
                <%="No"%>
                <% end %>
              </td>
              <td>
                <% if complete[:deworming] == 100 then %>
                <%="Yes"%>
                <% else %>
                <%="No"%>
                <% end %>
              <td>
                <% if complete[:iron_folate] == 100 then %>
                <%="Yes"%>
                <% else %>
                <%="No"%>
                <% end %>
             </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
            <tr>
              <th> Site Overall </th>
              <td> <%= @stock_comp_rep_vit_red %> %</td>
              <td> <%= @stock_comp_rep_vit_blue %> %</td>
              <td> <%= @stock_comp_rep_deworm %> %</td>
              <td> <%= @stock_comp_rep_iron %> %</td>
            </tr>
        </tfoot>
      </table>
    </div>
    <br>

    <div id="stock-report-table">
      <table class="report-table">
      <h4>Stocks Update</h4>
        <col span="1" class="wide">
        <tr>
          <th>Site</th>
          <th>Vitamin A Red (Units)</th>
          <th>Vitamin A Blue (Units)</th>
          <th>Deworming (Units) </th>
          <th>Iron Folate (Units) </th>
        </tr>

        <tr>
          <th><%= @site.site_name %></th>
          <td>
            <% unless [nil, 0].include?(@site.most_recent_stock_report.vitamin_a_red) %>
            <%=@site.most_recent_stock_report.vitamin_a_red %>
            <% else %>
            <%="STOCK OUT"%>
            <% end %>
          </td>
          <td>
            <% unless [nil, 0].include?(@site.most_recent_stock_report.vitamin_a_blue) %>
            <%=@site.most_recent_stock_report.vitamin_a_blue %>
            <% else %>
            <%="STOCK OUT"%>
            <% end %>
          </td>
          <td>
            <% unless [nil, 0].include?(@site.most_recent_stock_report.deworming) %>
            <%=@site.most_recent_stock_report.deworming %>
            <% else %>
            <%="STOCK OUT"%>
            <% end %>
          </td>
          <td>
            <% unless [nil, 0].include?(@site.most_recent_stock_report.iron_folate) %>
            <%=@site.most_recent_stock_report.iron_folate%>
            <% else %>
            <%="STOCK OUT"%>
            <% end %>
          </td>
        </tr>

      </table>
    </div>
    <br>


    <div id='program-report-table'>
      <table class='report-table'>
        <h4>Complete Program Reporting</h4>
        <col span="1" class="wide">
         <tr>
            <th>Date</th>
            <th>Vitamin A Red (Reports)</th>
            <th>Vitamin A Blue (Reports)</th>
            <th>Deworming (Reports)</th>
            <th>Iron Folate (Reports)</th>
          </tr>
        <tbody>
          <% @program_reports_per_day.each do |date, prog_rep| %>
            <tr>
              <th><%= date.strftime("%d/%m/%Y") %></th>
              <td><%= prog_rep[:vitamin_a_red ] %> % </td>
              <td><%= prog_rep[:vitamin_a_blue] %> % </td>
              <td><%= prog_rep[:deworming] %> % </td>
              <td><%= prog_rep[:iron_folate] %> % </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
            <tr>
              <th> Site Overall </th>
              <td> <%= @program_comp_rep_vit_red %> %</td>
              <td> <%= @program_comp_rep_vit_blue %> %</td>
              <td> <%= @program_comp_rep_deworm %> %</td>
              <td> <%= @program_comp_rep_iron %> %</td>
            </tr>
        </tfoot>
      </table>
    </div>
    <br>

    <div id="program-report-table">
      <table class="report-table">
        <h4>Program Delivery</h4>
        <col span="1" class="wide">
        <tr>
          <th>Site</th>
          <th>Vitamin A Red (Reports)</th>
          <th>Vitamin A Blue (Reports)</th>
          <th>Deworming (Reports) </th>
          <th>Iron Folate (Reports) </th>
        </tr>

        <tr>
          <th><%= @site.site_name %></th>
          <td><%= @site.program_reports_total(:vitamin_a_red) %> </td>
          <td><%= @site.program_reports_total(:vitamin_a_blue) %> </td>
          <td><%= @site.program_reports_total(:deworming) %> </td>
          <td><%= @site.program_reports_total(:iron_folate) %> </td>
        </tr>

      </table>
    </div>
    <br>


    <div id="population-report-table">
      <table class="report-table">
        <h4>Estimated Coverage GRAPH </h4>
        <col span="1" class="wide">
        <tr>
          <th>Site</th>
          <th>Vitamin A Red (Coverage)</th>
          <th>Vitamin A Blue (Coverage)</th>
          <th>Deworming (Coverage) </th>
          <th>Iron Folate (Coverage) </th>
        </tr>

        <tr>
          <th><%= @site.site_name %></th>
          <td><%= @site.vit_a_red_coverage %></td>
          <td><%= @site.vit_a_blue_coverage %></td>
          <td><%= @site.deworm_coverage %></td>
          <td><%= @site.iron_folate_coverage %></td>
        </tr>
      </table>
    </div>
    <br>

    <!-- Yes no not working from method defined in site.rb -->
    <h4>Minimum WASH Package </h4>
    <p>   Water Source at Site:
      <% if rand(1..2) == 1 then %>
      <%= "Yes" %>
      <% else %>
      <%= "No" %>
      <% end %>
    </p>

    <p>   Potable Water at Site:
      <% if rand(1..2) == 1 then %>
      <%= "Yes" %>
      <% else %>
      <%= "No" %>
      <% end %>
    </p>
    <p>   Functioning Public Latrine/Toilet at Site:
      <% if rand(1..2) == 1 then %>
      <%= "Yes" %>
      <% else %>
      <%= "No" %>
      <% end %>
    </p>
    <p>   Handwashing Station at Site:
      <% if rand(1..2) == 1 then %>
      <%= "Yes" %>
      <% else %>
      <%= "No" %>
      <% end %>
    </p>
    <br>

    <h4>Site Information</h4>
    <p>   State ID:         <%= @site.state_id %></p>
    <p>   District ID:      <%= @site.district_id %></p>
    <p>   National SNIS (Système National d'Information Sanitaire) ID: <%= @site.national_site_id %></p>
    <p>   Latitude:         <%= @site.latitude %></p>
    <p>   Longitude:        <%= @site.longitude %></p>
    <br>

    <p><%#= site.most_recent_stock_report.vitamin_a_blue %></p>
    <p><%#= site.most_recent_stock_report.deworming %></p>
    <p><%#= site.most_recent_stock_report.iron_folate %></p>

  </div>
</div>
