<!-- Site Show -->

<div class="container push_page_below_header">
  <div class="row">

    <h1> Site: <%= @site.site_name %></h1>

    <h3>Complete Stock Reporting</h3>

    <div id='stock-report-table'>
      <table class='report-table'>
        <thead>
         <tr>
            <th>Date</th>
            <td>Vitamin A Red </td>
            <td>Vitamin A Blue </td>
            <td>Deworming </td>
            <td>Iron Folate </td>
          </tr>
        </thead>
        <tbody>
          <% @stock_reports_per_day.each do |date, stock_report| %>
            <tr>
              <th><%= date.strftime("%d/%m/%Y") %></th>
              <td><%= stock_report[:vitamin_a_red ] %> % </td>
              <td><%= stock_report[:vitamin_a_blue] %> % </td>
              <td><%= stock_report[:deworming] %> % </td>
              <td><%= stock_report[:iron_folate] %> % </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
            <tr>
              <th> Site Overall </th>
              <td> <%= @vit_red %> %</td>
              <td> <%= @vit_blue %> %</td>
              <td> <%= @deworm %> %</td>
              <td> <%= @iron %> %</td>
            </tr>
        </tfoot>
      </table>
    </div>


    <p><%#= site.most_recent_stock_report.vitamin_a_blue %></p>
    <p><%#= site.most_recent_stock_report.deworming %></p>
    <p><%#= site.most_recent_stock_report.iron_folate %></p>



    <h3>Stocks Update</h3>

    <h3>Coverage</h3>


    <h3>Details</h3>

    <p> State ID: <%= @site.state_id %></p>
    <p> District ID: <%= @site.district_id %></p>
    <p> National SNIS ID: <%= @site.national_site_id %></p>
    <p> latitude: <%= @site.latitude %></p>
    <p> longitude: <%= @site.longitude %></p>

    <br>
    <p> create access to population, program and stock data </p>

  </div>
</div>
